/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Ubuntu+Mono:wght@400;700&display=swap");

@import "./variables.scss";

:root {
  font-size: 16px;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $grey;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.text-danger {
  color: $danger;
}
.text-success {
  color: $success;
}
.text-warning {
  color: $warning;
}
